.pro_bar {
  background: hsl(0, 0%, 97%);
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.1) inset;
  height: 4px;
  margin-bottom: 12px;
  margin-top: 12px;
  position: relative;
}

.progress_bar_inner {
  background-color: hsl(0, 0%, 88%);
  display: block;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 1s linear 0s;
}

.progress_bar_inner::after {
  content: "";
  width: 14px;
  height: 12px;
  /* background-color: inherit; */
  background-image: url("./images/bike.png");
  background-size: contain;
  /* border-radius: 50%; */
  position: absolute;
  right: -4px;
  top: -8px;
}
